---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="Nuestro enfoque">
    <h2 style="margin: 20px 0">Objetivo</h2>
    <p>
      Proporcionar un recurso más accesible y educativo sobre los principios fundamentales de la materia eléctrica,
      dirigido a estudiantes profesionales y entusiastas a la ingeniería eléctrica.
    </p>
    <h2 style="margin: 20px 0">Vision</h2>
    <p>
      Suplementar el blog con referencias reconocidas, enfocado a los futuros estudiantes que cursen o despierte su
      interés por la ingeniería eléctrica. así mismo dar a conocer lo que la ingeniería eléctrica puede llegar a ser a
      futuro en sus vidas.
    </p>
    <h2 style="margin: 20px 0">Misión</h2>
    <p>
      Ser una fuente confiable para estudiantes, profesionistas y entusiastas del área eléctrica, promoviendo
      información actualizada, soluciones innovadoras en el sector eléctrico y la mejora continua en el ambito
      eléctrico.
    </p>
    <h2 style="margin: 20px 0">Filosofía</h2>
    <p>
      Basarnos en ser un puente entre el conocimiento técnico y la comunidad interesada en el mundo del sector
      eléctrico, con un compromiso claro hacia la innovación, la sostenibilidad y el acceso a la información a los
      estudiantes.
    </p>
  </Page>
  <div class="my-10 w-full"></div>
  <Page title="Política del sitio">
    <h2 style="margin: 20px 0">Contenido y propiedad intelectual</h2>
    <p>
      Todo el contenido publicado en este sitio es propiedad de sus autores o de terceros con licencia. Nos esforzamos
      por ofrecer información precisa y concisa, pero no garantizamos su exactitud.
    </p>
    <h2 style="margin: 20px 0">Uso Responsable</h2>
    <p>
      Los usuarios deben hacer uso responsable del blog, respetando las normas de convivencia y evitando comportamientos
      que puedan dañar la integridad del mismo, esto incluye, pero no se limita a:
      <ul>
        <li>No publicar contenido ofensivo</li>
        <li>No realizar ataques ciberneticos.</li>
        <li>No utilizar el sitio para la promoción de productos o servicios sin nuestra autorización.</li>
      </ul>
    </p>
    <h2 style="margin: 20px 0">Comentarios y Participación</h2>
    <p>
      Los usuarios son bienvenidos a dejar comentarios y participar en discusiones, todo conrespeto cualquier comentario
      ofensivo sera eliminado a la brevedad
    </p>
    <h2 style="margin: 20px 0">Privacidad y Protección de Datos</h2>
    <p>
      Valoramos la privacidad de nuestros usuarios. Cualquier información personal recopilada se gestionara de acuerde
      con nuestra politica de privacidad. No compartiremos tus datos con terceros sin tu consentimiento, salvo en los
      casos requeridos por la ley.
    </p>
  </Page>
</Base>
