---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="Nuestro enfoque">
    <h1>Objetivo</h1>
    <p>
      Proporcionar un recurso más accesible y educativo sobre los principios fundamentales de la materia eléctrica, dirigido a estudiantes
      profesionales y entusiastas a la ingeniería eléctrica.
    </p>
     <h1>Vision</h1>
    <p>
      Suplementar el blog con referencias reconocidas, enfocado a los futuros estudiantes que cursen o despierte su interés por la ingeniería eléctrica.
      así mismo dar a conocer lo que la ingeniería eléctrica puede llegar a ser a futuro en sus vidas.
    </p>
     <h1>Misión</h1>
    <p>
      Ser una fuente confiable para estudiantes, profesionistas y entusiastas del área eléctrica, promoviendo información actualizada, soluciones innovadoras
      en el sector eléctrico y la mejora continua en el ambito eléctrico.
    </p>
    <h1>Filosofía</h1>
    <p>
      Basarnos en ser un puente entre el conocimiento técnico y la comunidad interesada en el mundo del sector eléctrico, con un compromiso claro 
      hacia la innovación, la sostenibilidad y el acceso a la información a los estudiantes.
    </p>
  </Page>
  
</Base>
