---
import Layout from '../layouts/Layout.astro';
import SliderCarousel from '../components/SliderCarousel.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
---

<Layout title='Eléctrica120'>
	<div>
		{posts.map((post) => {
			const {data, slug} =  post
			const {title} =  data
			return (
			<h1> {title}</h1>
			<a class="underline" href={`/post/${slug}`}> {slug}</a>
			)
		
		})}
		<SliderCarousel></SliderCarousel>
	</div>
</Layout>
