---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base>
  <Page title="Música para estudiar">
    <p>
      En esta sección encontrarás una selección de música perfecta para acompañarte en tus sesiones de estudio. Desde
      piezas clásicas hasta melodías relajantes, aquí podrás descubrir sonidos que te ayudarán a concentrarte y mantener
      el enfoque.
    </p>

    <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400" role="alert">
      <span class="rounded-lg bg-red-50 text-xl font-semibold text-red-800 dark:bg-gray-800 dark:text-red-400"
        >✨ Si te gustan los ritmos animados...</span
      ><br />
      <p class="bg-red-50 text-lg text-red-800 dark:bg-gray-800 dark:text-red-400">
        Algunos valses y piezas orquestales pueden darte energía sin distraerte, haciendo que el estudio sea más
        dinámico y entretenido
      </p>
    </div>

    <div class="mb-4 rounded-lg bg-blue-50 p-4 text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400" role="alert">
      <span class="rounded-lg bg-blue-50 text-xl font-semibold text-blue-800 dark:bg-gray-800 dark:text-blue-400"
        >💃 Si prefieres lo clásico....</span
      ><br />
      <p class="mt-2 rounded-lg bg-blue-50 text-lg font-medium text-blue-800 dark:bg-gray-800 dark:text-blue-400">
        Algunos valses y piezas orquestales pueden darte energía sin distraerte, haciendo que el estudio sea más
        dinámico y entretenido.
      </p>
    </div>

    <div
      class="mb-4 rounded-lg bg-purple-50 p-4 text-sm text-purple-800 dark:bg-gray-800 dark:text-purple-400"
      role="alert"
    >
      <span class="bg-purple-50 text-xl font-semibold text-purple-800 dark:bg-gray-800 dark:text-purple-400"
        >🎭 Si disfrutas de lo teatral y emocionante...</span
      >
      <br />
      <p class="text-lg text-purple-800 dark:bg-gray-800 dark:text-purple-400">
        Las melodías con un toque dramático pueden convertir tu sesión de estudio en una experiencia envolvente e
        inspiradora.
      </p>
    </div>

    <h2>🎧 Playlists recomendadas</h2>

    <div class="mb-3 flex w-full flex-col flex-nowrap gap-2 md:flex-row">
      <div
        class="mb-4 w-full rounded-lg bg-blue-50 p-4 text-sm text-blue-800 dark:bg-gray-800 dark:text-blue-400 md:w-1/2"
        role="alert"
      >
        <span class="rounded-lg bg-blue-50 text-xl font-semibold text-blue-800 dark:bg-gray-800 dark:text-blue-400"
          >🎻 Clásica</span
        ><br />
        <p class="mt-2 rounded-lg bg-blue-50 text-lg font-medium text-blue-800 dark:bg-gray-800 dark:text-blue-400">
          Mozart, Bach y más para concentración profunda.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=0UN_HbOTTcI">
          <button
            type="button"
            class="mb-2 me-2 inline-flex items-center gap-2 rounded-lg border border-gray-200 bg-white/50 px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              height="20px"
              width="20px"
              version="1.1"
              id="Layer_1"
              viewBox="0 0 461.001 461.001"
              xml:space="preserve"
            >
              <g>
                <path
                  style="fill:#F61C0D;"
                  d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728   c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137   C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607   c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"
                ></path>
              </g>
            </svg>
            Escuchar
          </button>
        </a>
      </div>

      <div
        class="mb-4 w-full rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400 md:w-1/2"
        role="alert"
      >
        <span class="bg-green-50 text-xl font-semibold text-green-800 dark:bg-gray-800 dark:text-green-400"
          >🌿 Ambiental</span
        >
        <br />
        <p class="text-lg text-green-800 dark:bg-gray-800 dark:text-green-400">
          Sonidos de naturaleza y música instrumental.
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=wIC18c1Qkcg">
          <button
            type="button"
            class="mb-2 me-2 inline-flex items-center gap-2 rounded-lg border border-gray-200 bg-white/50 px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              height="20px"
              width="20px"
              version="1.1"
              id="Layer_1"
              viewBox="0 0 461.001 461.001"
              xml:space="preserve"
            >
              <g>
                <path
                  style="fill:#F61C0D;"
                  d="M365.257,67.393H95.744C42.866,67.393,0,110.259,0,163.137v134.728   c0,52.878,42.866,95.744,95.744,95.744h269.513c52.878,0,95.744-42.866,95.744-95.744V163.137   C461.001,110.259,418.135,67.393,365.257,67.393z M300.506,237.056l-126.06,60.123c-3.359,1.602-7.239-0.847-7.239-4.568V168.607   c0-3.774,3.982-6.22,7.348-4.514l126.06,63.881C304.363,229.873,304.298,235.248,300.506,237.056z"
                ></path>
              </g>
            </svg>
            Escuchar
          </button>
        </a>
      </div>
    </div>
    <div
      class="mb-7 w-full rounded-lg bg-orange-50 p-4 text-sm text-orange-800 dark:bg-gray-800 dark:text-orange-400"
      role="alert"
    >
      <span class="bg-orange-50 text-xl font-semibold text-orange-800 dark:bg-gray-800 dark:text-orange-400"
        >🎶 ¡Haz que el estudio sea más placentero con el sonido adecuado!</span
      >
      <br />
      <p class="text-lg text-orange-800 dark:bg-gray-800 dark:text-orange-400">
        Sabemos que estudiar a veces cuesta, por eso reunimos una selección de música ideal para concentrarte y rendir
        al máximo.
      </p>
      <a target="_blank" href="https://drive.google.com/drive/folders/189lkQ8PDs0Jegt3184nUy1jsfDScTMne">
        <button
          type="button"
          class="mb-2 me-2 inline-flex items-center gap-2 rounded-lg border border-gray-200 bg-white/50 px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="20px"
            height="20px"
            viewBox="0 -3 48 48"
            version="1.1"
          >
            <title>drive-color</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Color-" transform="translate(-601.000000, -955.000000)">
                <g id="drive" transform="translate(601.000000, 955.000000)">
                  <polygon id="Shape" fill="#3777E3" points="8.00048064 42 15.9998798 28 48 28 39.9998798 42">
                  </polygon>
                  <polygon id="Shape" fill="#FFCF63" points="32.0004806 28 48 28 32.0004806 0 15.9998798 0"> </polygon>
                  <polygon id="Shape" fill="#11A861" points="0 28 8.00048064 42 24 14 15.9998798 0"> </polygon>
                </g>
              </g>
            </g>
          </svg>
          Escuchar
        </button>
      </a>
    </div>

    <div
      class="mb-4 rounded-lg bg-yellow-50/50 p-4 text-sm text-yellow-800 dark:bg-gray-800/50 dark:text-yellow-400"
      role="alert"
    >
      <span class="rounded-lg text-xl font-semibold text-yellow-800 dark:text-yellow-400">💡 Tips Profesionales</span
      ><br />
      <p class="mt-2 rounded-lg text-lg font-medium text-yellow-800 dark:text-yellow-400">
        Usa <span class="font-semibold">auriculares con cancelación de ruido</span> para mayor inmersión. <br> La música ideal está entre <span class="font-semibold">50-80 BPM</span> (ritmo
        cardíaco en reposo). <br> Prueba <span class="font-semibold">sonidos binaurales</span> para mejorar la concentración.
      </p>
    </div>
  </Page>
</Base>
` n
