<footer class="w-full h-16 pt-0  px-4 py-2">
    <div
        class="h-full border-t-1 flex justify-center gap-3 items-center items border-[#f6f6f6] lg:border-none"
    >
        <p class="hover:underline  hover:cursor-pointer">Política del sitio</p>
        <span>•</span>
        <p class="hover:underline hover:cursor-pointer">Nuestro enfoque</p>
    </div>
</footer>

<style>
    .items {
        color: #838282;
    }
</style>
