---

---

<nav class="nav  h-8  w-full ">
    <div class="content-nav my-5 bg-white lg:bg-[#f6f6f6]  h-full flex items-center ">
        <div class="pl-6 flex  w-full ">
          <a href="/">
              <div class="logo text-2xl font-light md:font-normal">Eléctrica 120°</div>
          </a> 
        </div>
    </div>
</nav>
<style>
    .nav {
        font-family: "Inter", sans-serif;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .content-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        letter-spacing: 1.5px;
    }

    .nav{
        height: 75px;
    }

 
 
</style>
