---

---

<nav class="nav w-full">
    <div class="content-nav">
        <div class="logo text-2xl font-bold">Eléctrica 120°</div>
        <div class="search relative self-end"></div>
        <div class="social">social</div>
    </div>
</nav>
<style>
    .nav {
        padding: 12px;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        border-bottom: 3px solid black;
    }

    .logo {
        
    }

    .content-nav {
        padding: 0 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>
