---

---

<nav class="nav mb-12   w-full md:px-3">
    <div class="content-nav bg-gray-300 md:mt-4 md:rounded-4xl h-full flex items-center ">
        <div class=" pl-5 pr-4 flex  w-full ">
          <a href="/">
              <div class="logo text-2xl font-bold">Eléctrica 120°</div>
          </a> 
        </div>
    </div>
</nav>
<style>
    .nav {
        font-family: "Inter", sans-serif;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .content-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

 
 
</style>
