---
interface Props {
    title: string;
}

const {title } = Astro.props
---

<nav class="nav h-8 w-full">
    <div
        class="content-nav my-5 bg-white lg:bg-[#f6f6f6]  h-full flex items-center"
    >
        <div class="pl-3 py-2 flex w-full  items-center gap-4">
            <a href="/">
                <img src="/logo.png" alt="" class="w-[50px] h-[50px] md:w-[70px] md:h-[70px]" />
            </a>
            
            <div class="logo text-2xl lg:text-3xl ">
                {title}
            </div>
        </div>
    </div>
</nav>
<style>
    .nav {
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;
        font-family: "Inter", sans-serif;
    }

    .content-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .logo {
        letter-spacing: 1.5px;
    }

    .nav {
        height: 75px;
    }
    img {
       
        border-radius: 50%;
    }
</style>
